@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap);

body {
 background-image: linear-gradient(to right, red, orange, yellow);
}

button {
 margin: 3px auto 0;
 padding: 20px 25px;
 position: relative;
 bottom: 360px;
 top: 360px;
 left: 560px;
 right: 560px;
 background-color: orange;
 font-size: 30px;
 font-weight: bold;
 border: 1px solid gold;
}


h3 {
 font-family: Open Sans Condensed;
 font-size: 50px;
 position: relative;
 text-align: center;
 bottom: -20px;
 top: -20px;
 }

button:hover {
 background-color: gold;

}

button:active {
 background-color: yellow;
}